{% extends 'base.html' %}

{% load static %}

{% block title %}
CONTACT | Farizio Kautsar Heruzy
{% endblock %}
{% block body %}
    <div class = "page">
        <div class = "sidebyside">
            <div class = "head_left">          
                <div class = "page_phone">
                    <div class = "line" style="margin-bottom: 2vw;">
                    </div>
                    <div>
                        <a id = "like">Like</a>
                        <a class = "button" href="{% url 'home:gallery' %}" style = "color: black">my stuffs?</a>
                    </div>
                    <div style = "height: 4vw">

                        </div>
                    <p class = "findme">
                        You can find me on:
                    </p>
                    <div style = "height: 2vw">

                        </div>
                    <div class = "row_class">
                        <a  href="https://api.whatsapp.com/send?phone=6281282100255">
                            <img class = "contact_icons" src="{% static 'images/contact_icons/whatsapp.svg' %}"></img>
                        </a>
                        <a  href="https://www.instagram.com/ziokautsar/">
                            <img class = "contact_icons" src="{% static 'images/contact_icons/instagram.svg' %}"></img>
                        </a>
                        <a  href="https://www.linkedin.com/in/farizio-kautsar-655844126/">
                            <img class = "contact_icons" src="{% static 'images/contact_icons/linkedin.svg' %}"></img>
                        </a>
                        <a  href="https://twitter.com/farizio_kautsar">
                            <img class = "contact_icons" src="{% static 'images/contact_icons/twitter.svg' %}"></img>
                        </a>
                    </div>
                    <div style = "height: 4vw">

                        </div>
                    <div class = "row_class">
                        <img src = "{% static 'images/icons/email.svg' %}" class = "contact_emailphone">
                        </img>
                        <p class = "contact_emailphone_text"">
                            kheruzy@gmail.com
                        </p>
                        <div style = "width: 45px"></div>
                        <img src = "{% static 'images/icons/phone.svg' %}" class = "contact_emailphone">
                        </img>
                        <p class = "contact_emailphone_text"">
                            +62 812 8210 0255
                        </p>
                    </div>
                    <div style = "height: 60px">

                        </div>
                    <div class = "line">
                    </div>
                    <p id = "excited">
                        I'm excited to be a part of your next big project
                    </p>
                    <div style = "height: 4vw"></div>
                    <a class = "button" href="{% url 'home:home' %}">
                        BACK HOME
                    </a>
                </div>
            </div>
            <div class = "head_right" id="contact">
                <img src="{% static 'images/contact_side.jpg' %}" class="pic_phone"></img>
            </div>
        </div>
    </div>
    <!-- <div class = "whatido_background"> -->
        
    </div>
    <!-- <div class = "programs_background"> -->
        
    </div>
    <!-- <div class = "languages_background"> -->
        
    </div>
{% endblock %}