{% extends 'base.html' %}

{% load static %}

{% block title %}
GALLERY | Farizio Kautsar Heruzy
{% endblock %}
{% block body %}
    <div class = "page">
            
            <p class = "oneline">
                Find what you like
            </p>
            <div class = "line">
                </div>
            <p style = "font-size: calc(0.1rem + 0.5vw); color:#AEAEAE">
                    *DUMMY ARTS*
                </p>
            <div style = "height: 60px">

                </div>
        <div class = "column_class">
            <div class = "row_class">
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=815&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame">
                    <img src = "https://images.unsplash.com/photo-1526304760382-3591d3840148?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame">
                    <img src = "https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=396&q=80" style="width: 100%;"></img>
                </a>
            </div>
            <div style = "height: 20px">
            </div>
            <div class = "row_class">
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1551913902-c92207136625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1554188248-986adbb73be4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" style="width: 100%;"></img>
                </a>
            </div>
            <div style = "height: 20px">
                </div>
            <div class = "row_class">
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1549887534-1541e9326642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame">
                    <img src = "https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" style="width: 100%;"></img>
                </a>
                <div style = "width: 60px">
                </div>
                <a class = "artwork_frame" >
                    <img src = "https://images.unsplash.com/photo-1493210977798-4f655ac200a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=562&q=80" style="width: 100%;"></img>
                </a>
            </div>
        </div>
        <div style = "height: 150px">

        </div>
        <div style="text-align: center; font-weight: 700;">
            <p class ="oneline">Like what you see?</p>
            <div style = "height: 60px">

                </div>
            <div class="line">

                </div>
        </div>
        <div style = "height: 60px">

        </div>
        <!-- BUTTON CONTACT ME -->
        <div style="text-align: center; ">
            <a class = "button" href="{% url 'home:contact' %}">
                RING ME
            </a>
        </div>
        <div style = "height: 300px">

        </div>
    </div>
{% endblock %}